<%- include('../includes/head') %>

  </head>

  <body>
<%- include('../includes/nav') %>

    <main class="container b-main b-main_products">
      <% if(prods.length > 0) {%>
      <div class="b-cards-grid">
        <% for(let prod of prods) {%>
        <article class="b-card">
          <header class="b-card__header">
            <h3 class="b-card__title"><%= prod.title %></h3>
          </header>
          <div>
            <img
              src=<%= prod.imageUrl %>
              alt="A Book"
              title="Author: JoyPexels @ Creazilla"
              class="b-card__img"
            />
            <p><%= prod.price %></p>
            <p>
              <%= prod.description %>
            </p>
            <button>Add to cart</button>
          </div>
        </article>
        <%}%>
      </div>
      <%} else {%>
      <h1>My Products</h1>
      <p>List of all the products...</p>
      <%}%>
    </main>

<%- include('../includes/end') %>
